

.custom-nav {
    display: flex;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px; 
  }
  
  .custom-nav .nav-link {
    width: auto;
    padding: 0.5rem 50% !important;
  }

.offer-image{
    padding: 1rem;
}
 .nav-icon {
  margin-right: 40px; 
  margin-left: 40px;
}
.custom-footer{
    background-color:rgb(41, 41, 41);
}
