.carousel {
    background: linear-gradient(60deg, rgb(200, 200, 200), rgb(255, 255, 255));
    margin: 1rem 5rem 1rem 5rem;
    border-radius: 15px;
    box-shadow: 2px 2px 4px 1px rgb(161, 161, 161);
    padding: 0rem 0rem 3rem 0rem;
    height: 15rem;
    overflow: hidden;
}


.image {
    height:15rem;
}