.commentContainer{
    width: 25vw;
    padding: 10px;
}
.ratingSelector{
    padding-bottom: 10px;
    font-size: 18px;
}

.commentFooter{
    padding-top: 15px;
    padding-bottom: 0px;
}

.customAlert{
    display: flex;
    align-items: center; 
    height: 40px;
    width: fit-content;
    border: 1px solid black;
}

.customButton{
    height: 40px;
}