.containerPrice{
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 98%;
}

.rating{
    color: rgb(211, 181, 11);
    position: absolute;
    top: 2%;
    right: 2%;
}

.img{
    width: 90%;
    height: 50%;  
}

.modoDark{
    display: flex;
}

.link{
    text-decoration: none;
}

.container{
    box-shadow: 40px 34px 94px 0px rgba(30, 40, 68, 0.25);
    padding: 0%;
  
}

.container:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
  