.button{
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 1rem 1.4rem 3rem 1rem;
    z-index: 99;
    transition: 0.1s ease-in-out;
    opacity: 100%;
}

.button:hover{
    scale: 1.05;
}