.button {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 1rem 1.4rem 3rem 1rem;
    padding: 0rem 1rem 0rem 1rem;
    z-index: 99;
    transition: 0.1s ease-in-out;
    border-radius: 100px;
    font-weight: bolder;
    font-size: 2rem;
    background-color: rgb(46, 46, 46);
    border: 0.15rem #494f53 solid;
    color: #494f53;
}

.button:hover {
    border: 0.15rem #6c757d solid;
    background-color: rgb(41, 41, 41);
    color: #6c757d;
}

.button:active {
    background-color: #494f53;
}