.custom-footer{
    background-color:rgb(41, 41, 41);
    justify-content: space-evenly !important;
}

/* .container */

.custom-footer .nav-link {
    padding: 0.5rem !important;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }