.custom_footer{
    margin-top: 1em;
    background-color:rgb(41, 41, 41);
    justify-content: space-evenly !important;
}
.subFooter{
    background-color: rgb(199, 199, 199);
}

/* .container */

.custom-footer .nav-link {
    padding: 0.5rem !important;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 1rem;
    /* margin-bottom: 1rem; */
  }