.navBarContainer {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

/* Estilos para la barra de navegación */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    right: 0;
}

/* Estilos para el logo */
.logo a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.logo img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

/* Estilos para la barra de búsqueda */
.search-bar {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-input {
    padding: 5px;
    border: none;
    border-radius: 5px 0 0 5px;
}

.search_button {
    margin-right: 2.5rem;
}

/* Estilos para el ícono de carrito */
.cart img {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

/* Estilos para el botón de inicio de sesión */
.login-button {
    margin-left: 20px;
}

.login-btn {
    padding: 5px 10px;
    border: none;
    background-color: #666;
    color: white;
    cursor: pointer;
}

/* Cambiar el color del botón cuando se le pasa el cursor */
.login-btn:hover,
.search-button:hover {
    background-color: #444;
}

/* Estilo para la Barra de Banneado */
.barBanned {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dd0f0f;
    color: white;
    font-size: small;
    text-decoration: none;

}

.link {
    text-decoration: none;
    color: white;
}

.circulo {
    /* background-color: blue;
    width: 30px;
    height: 30px;
    border-radius: 50%; */
    font-size: x-small;
}

.loginText{
    font-size: x-small;
}